@import "../../../../Variables";

.Post {
    color: $second-color;
    border-bottom: .2rem solid $accent-color;
    padding: 1rem;
    display: flex;

    .avatar {
        width: 3.5rem;
        height: 3.5rem;
        border: .3rem solid $next-color;
        border-radius: 50%;

        img {
            width: 100%;
        }
    }

    .message {
        margin: 0 1rem;
        width: 80%;
    }
}
